body {
    margin: 24px;
}
/* для 10 */
/* .usernames li {
    padding: 8px;
    border: 2px dashed tomato;
    text-transform: uppercase;
}

.usernames li:not(:last-child) {
    margin-bottom: 12px;
} */
/* для 12 */
body {
    font-family: sans-serif;
}
/* для 13 */
/* .accent {
    color: tomato;
    text-decoration: underline;
} */

/* для 14 */
/* .list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.list-item {
    padding: 8px;
    border-width: 2px;
    border-style: dashed;
}

.list-item:nth-child(even) {
    border-color: tomato;
}

.list-item:nth-child(odd) {
    border-color: blueviolet;
}

.list-item:not(:last-child) {
    margin-bottom: 8px;
} */

/* для 15 */
/* .article {
    max-width: 320px;
}

.article-text {
    color: tomato;
} */


/* для 16 */
.list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.list-item {
    display: flex;
    align-items: center;
    padding: 8px;
    border-width: 2px;
    border-style: dashed;
}

.list-item.new::before {
    content: "";
    width: 12px;
    height: 12px;
    margin-right: 8px;
    border-radius: 50%;
    background-color: green;
}

.list-item:nth-child(even) {
    border-color: tomato;
}

.list-item:nth-child(odd) {
    border-color: blueviolet;
}

.list-item:not(:last-child) {
    margin-bottom: 8px;
}



